environment:
  nodejs_version: "8.12"

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

build_script:
  - npm run build

test_script:
  - npm run test

after_test:
  - npm run coverage
